.product-card {
    height: 25rem;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.multiline-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
