{% extends "layout/base.html" %}
{% block content %}
    {% comment %} djlint:off H006 H021  {% endcomment %}
    {% include "partials/advertisement_banner.html" %}
    <div class="container-fluid row justify-content-center">
        {% for product in products %}
            <div class="card col-lg-2 m-3">
                <img src="{{ product.image.url }}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">${{ product.price }}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
