{% extends "layout/base.html" %}
{% block page_title %}
    Sign up | mini-eCommerce
{% endblock page_title %}
{% block content %}
    <div class="container h-100">
        <div class="card h-75 w-50 mx-auto mt-5">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title text-center">Sign up</h1>
                <hr class="border-2">
                <form action=""
                      method="post"
                      class="d-flex flex-column align-items-center flex-grow-1">
                    {% csrf_token %}
                    <input type="email"
                           name="email"
                           placeholder="enter your email..."
                           class="form-control w-75 my-2">
                    <input type="password"
                           name="password"
                           placeholder="enter your password..."
                           class="form-control w-75 my-2">
                    <input type="password"
                           name="confirm password"
                           placeholder="confirm your password..."
                           class="form-control w-75 my-2">
                    <button type="submit" class="btn btn-primary w-75 mt-5">Sign up</button>
                </form>
                <hr class="border-2">
                <p class="card-text">
                    Already have an account? <a href="{% url 'sign_in' %}">Sign in</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
